{% extends "layout.html" %}
{% block content %}
    <table class="m-5" style="width: 600px;" >
        <tr class ="" style="color: #AAAA00; ">
                <th >
                    College Name
                </th>
                <th>
                    Branch name
                </th>
                <th>
                    Total Seat 
                </th>
            </tr>
    {% for query in join_query %}
        <div style="margin:0px 0px 10px">
            <a href="#" class="">
                <tr>
                    <th>
                        {{query[0]}} 
                    </th>
                    <th>
                        {{query[2]}}
                    </th>
                    <th>
                         {{query[1]}}
                    </th>
                </tr>
              
               
            </a>
        </div>
    {% endfor %}
    </table>



{% endblock content %}
